<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Buster's Best Bowling Alley</title>
  </head>
  <body>
    <h1> Buster's Best Bowling Alley</h1>
    <h2> Bet You Can't Bowl A Strike Every Time</h2>
    <!--regular hours, dates of tournaments, bowling alley bar menus, and eventually, a way to reserve and pay for a lane online-->
    <p> 97 Bowling Alley Lane, Boulder CO </p>
  </body>
</html>
